*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.nav__links li a{
    display: inline-block;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    color: rgba(114, 118, 133, 0.705);
    text-decoration: none;
    word-spacing: 2px;
    
}
button{
    display: inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color:  hsl(256, 26%, 20%); 
    text-decoration: none;
} 

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 7%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    border-bottom: 2px solid hsl(273, 4%, 51%);
    padding-bottom: 5px;
}
.cta{
    margin-left: 25px;
    padding: 9px 20px;
    border:2px solid;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color:hsl(256, 26%, 20%);
    color: #fff;
}
.btn{
    margin-top: 20px;
    padding: 9px 20px;
    cursor: pointer;
    border:none;
    color: hsl(270, 9%, 17%);
    background-color:#fff;
}
.btn:hover {
    background-color:hsl(256, 26%, 20%);
    color: #fff;
    border-bottom: 2px solid hsl(273, 4%, 51%);
}

#hero{
    position: relative;
    background-color: hsl(256, 26%, 20%);
    min-height: 600px;
    box-sizing: border-box;
    margin-top: 100px;
    z-index: 8;
}
#first{
    margin-bottom: 20px;
    padding: 110px 10px 0 130px;
}

.line{
    display: block;
    height: 1px;
    width: 120px;
    background-color: #fff; 
    margin-top: 0px;
    padding-top: 0px;
}

#hero h1{
    width: 50%;
    margin-top: 50px;
    font-family: DM Serif Display;
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    color: #fff;
}

#hero p{
    padding: 20px 100px 0 0;
    width: 50%;
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 25px;
    
}

.img1{
    position: absolute;
    top: 110px;
    right: 150px;
    box-sizing: border-box;
}

.img2{
    position: absolute;
    top: -80px;
    right:-10px;
    z-index: 9;
}

.img3{
    position: absolute;
    bottom:-55%;
    left:0px;
}

.heading2 h1{
    width: 50%;
    font-family: DM Serif Display;
    font-size: 70px;
    margin-top: 25%;
    padding:0 0 0 130px;
    font-weight: 700;
    text-align: left;
    color: #333;
    z-index: 7;
}

.line2{
    margin-top: -1px;
    margin-bottom: 30px;
    background-color: hsl(216, 30%, 68%);
    display: block;
    height: 1px;
    width: 120px;
}
 

.grid-container{
    display: grid;
    align-content: space-between;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 40px 9%;
    
}
.grid-container > div {
    text-align: left;
    padding: 30px 0;
    font-size: 16px;
    width: 350px;
    min-height: 350px;
    padding-top: 20px;
    font-size: 16px;
}
.fbh1{
    font-family: DM Serif Display;
    font-size: 30px;
    padding-top: 40px;
    color: hsl(270, 9%, 17%);
}
.grid-item p{
    padding-top: 30px; 
    font-size: 16px;
    list-style: none;
    font-family: 'Karla', sans-serif;
    color: rgba(114, 118, 133, 0.705);

}

.section3{
    position: relative;
    box-sizing: border-box;
    min-height: 200px;
    margin: 100px 130px 100px 130px;
    background-color: hsl(256, 26%, 20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-image: url('images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: right;
}
.section3 h1{
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    /* padding: 50px 10px 0 100px; */
}

.btn3{
    display: inline;
    padding: 9px 20px;
    cursor: pointer;
    border:none;
    color: hsl(270, 9%, 17%);
    background-color:#fff;
}
.btn3:hover {
    background-color:hsl(256, 26%, 20%);
    color: #fff;
    border-bottom: 2px solid hsl(273, 4%, 51%);
}

footer{
    width: 100%;
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    background-image: url('images/bg-pattern-footer-desktop.svg'); 
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;
}
.foot1{
    display: flex;
    align-items: center;
    padding: 20px 9%;
    margin-top: 30px;
}
.logo2{
    cursor: pointer;
    margin-right: auto;
    justify-self: start;
}
.foot__links img{
    display: inline-block;
    padding: 0px 5px;
    justify-content: flex-end;
}
.foot__links img:hover{
    cursor: pointer;
    color: hsl(270, 9%, 17%);
}

.line3{
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: hsl(216, 30%, 68%);
    height: 1px;
    display: flex;
    margin: 15px 9%;
    
}
.foot2{
    display: flex;
    padding: 20px 9%;
    margin-bottom: 100px;
    align-items: flex-start;
    justify-content: space-between;
}
.foot2 li{
    padding: 10px;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
    font-family: Arial Black, sans-serif;
    color: hsl(256, 26%, 20%);
    
}
.foot2 h4{
    padding: 30px 7%;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    color: rgba(114, 118, 133, 0.705);
}
.last{
    margin-right: 150px;
}


/*Media Queries*/

@media(max-width:375px){
    header button, 
    .logo, 
    nav, 
    .nav__links li, 
    .cta{
        text-align: center;
        width: 100%;
        float: none; 
        margin: 0;

        
    }
    header{  
         
        /* display: flex;
        align-content: center;
        flex-wrap: wrap;
        height: 300px; */
        width: 100%;
        background-color:hsl(256, 26%, 20%); ;
    }
    ul{
        float: none;
    }
    ul li{
        float: none;
        margin-left: 0;
    }
    ul li a{
        padding: 10px 0;
        text-align: center;
    }
    ul li:hover a{
        border: 2px solid #fff;
    }
    .custom-menu{
        position: absolute;
        top: 35px;
        right: 35px;
        left: 35px;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    .custom-menu span{
        position: absolute;
        top: 0;
        left: 0;
    }
    .custom-menu i{
        font-size: 30px;
        color: #fff;
    }
    .open-sign{
        display: none;
    }
}
